.users-container {
  margin: 20px;
}

.custom-table {
  background-color: #f8f9fa;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-table thead {
  background-color: #343a40;
  color: #ffffff;
}

.custom-table thead th {
  padding: 12px;
  font-weight: bold;
}

.custom-table tbody td {
  padding: 10px;
}

.error-message {
  color: red;
  font-size: 18px;
  font-weight: bold;
  margin-top: 20px;
}

@media screen and (max-width: 576px) {
  .custom-table thead {
    font-size: 14px;
  }

  .custom-table tbody td {
    font-size: 14px;
  }
}
