.error-message {
  color: red;
  font-size: 1.5rem;
  text-align: center;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem; /* Add padding for better spacing */
}

.table-heading {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #0843f4;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Add horizontal scrolling */
}

.data-grid-container {
  height: 100%;
  width: 100%;
}

.btn-remove {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  outline: none;
  padding: 0.5rem 1rem;
  margin-right: 10px;
}

.btn-remove:hover {
  background-color: #333333;
  color: #ffffff;
}

.btn-details {
  background-color: #ffffff;
  color: #333333;
  border: 1px solid #333333;
  outline: none;
  padding: 0.5rem 1rem;
}

.btn-details:hover {
  background-color: #333333;
  color: #ffffff;
}

.header-row {
  background-color: #f8f8f8;
  font-weight: bold;
}

.header-row .MuiDataGrid-cell:first-child {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  .table-heading {
    font-size: 1.5rem;
  }
  
  .data-grid-container {
    height: 400px; /* Adjust the height for better mobile experience */
  }
}
